html {
  font-size: 0.8rem;
}

html,
body {
  width: 30rem;
  min-width: 30rem;
  margin: 0;
}

#messagePanel {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.container {
  /* background-color: #0e0e10; */
  background-color: #0e0e10;
}

.preview-div {
  background-color: rgb(33, 37, 41);
  color: white;
}

.template-div {
  background-color: rgb(33, 37, 41);
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: rgb(33, 37, 41);
}

.list-group-item {
  /* background-color: #0e0e10; */
  background-color: rgb(33, 37, 41);
  color: white;
}

.privacy {
  background-color: rgb(33, 37, 41);
  color: white;
}

.message {
  background-color: #0e0e10;
  color: white;
}

/* スクロールバー全体 */
::-webkit-scrollbar {
  width: 6px;
  /* 横幅 */
  height: 6px;
  /* 縦幅 */
}

/* スクロールバーの背景 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* 角丸 */
}

/* スクロールバーのつまみ */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* つまみの色 */
  border-radius: 10px;
  /* 角丸 */
}

/* スクロールバーのつまみ（ホバー時） */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* ホバー時の色 */
}

.btn-custom {
  color: rgba(255, 255, 255, 0.5);
  /* テキスト色を薄い白に */
}

.btn-custom:hover {
  color: white;
  /* ホバー時のテキスト色を白に */
}

.btn-customs {
  color: rgba(255, 255, 255, 0.5);
}

.btn-edit {
  background-color: rgba(209, 74, 250, 0.5);
  --bs-btn-color: #fff;
}

.btn-edit:hover {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(194, 3, 252, 0.5);
  --bs-btn-border-color: rgba(194, 3, 252, 0.5);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(194, 3, 252, 0.5);
  --bs-btn-hover-border-color: rgba(194, 3, 252, 0.5);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(194, 3, 252, 0.5);
  --bs-btn-active-border-color: rgba(194, 3, 252, 0.5);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(194, 3, 252, 0.5);
  --bs-btn-disabled-border-color: rgba(194, 3, 252, 0.5);
}

.btn-copy {
  background-color: rgba(67, 175, 247, 0.5);
}

.btn-copy:hover {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(0, 153, 255, 0.5);
  --bs-btn-border-color: rgba(0, 153, 255, 0.5);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(0, 153, 255, 0.5);
  --bs-btn-hover-border-color: rgba(0, 153, 255, 0.5);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(0, 153, 255, 0.5);
  --bs-btn-active-border-color: rgba(0, 153, 255, 0.5);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(0, 153, 255, 0.5);
  --bs-btn-disabled-border-color: rgba(0, 153, 255, 0.5);
}


.template-select {
  border: 1px solid transparent;
}

.template-select:focus {
  border: 1px solid rgb(147, 30, 243);
  outline: none;
  box-shadow: 0 0 5px rgba(147, 30, 243, 0.7);
}

.check-hash {
  background-color: #80c7f7;
}

.check-quick {
  background-color: #f59e75;
}

.check-quick:focus {
  border-color: #f8ebe2;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(253, 106, 8, 0.25);
}

.check-quick:checked {
  background-color: #fd590d;
  border-color: #fd590d;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-link {
  color: #777777;
}

.nav {
  --bs-nav-link-hover-color: #e7e0e0;
  border-bottom-color: rgb(33, 37, 41);
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}